*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color:  #007bff;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  &:disabled {
    background-color: #ccc;
    cursor: default;
  }
}